body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #1F2937;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

body>* {
  flex-grow: 1;
}

.header,
.footer {
  flex-grow: 0;
}

*:has(> .max-width-box) {
  display: flex;
  justify-content: center;
}

.max-width-box {
  flex: 0 1 1200px;
}

.header,
.hero-panel,
.footer {
  background-color: #1F2937;
}

.header,
.hero-panel,
.footer,
button {
  color: #F9FAF8;
}

button {
  background-color: blue;
  font: 18px;
  padding: 6px;
  width: 150px;
}

.secondary-text-light,
.secondary-text-light a {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

.secondary-text-light a:hover {
  color: #cbcfd6;
}

.secondary-text-dark {
  font-size: 18px;
  color: rgb(100, 100, 100);
}

.header .max-width-box {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.header-logo {
  font-family: "Brush Script MT", cursive, Arial, sans-serif;
  font-size: 48px;
  margin: 0 16px;
}

.header-links {
  display: flex;
  justify-content: end;
  gap: 32px;
  row-gap: 16px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 16px;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.hero-panel .max-width-box {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2px;
}

.hero-heading {
  font-size: 48px;
  font-weight: 900;
}

.samples-panel .max-width-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.samples-heading {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.samples-display {
  display: flex;
  justify-content: stretch;
}

.sample-card {
  flex: 0 1 250px;
}

.big-flexigap {
  flex: 2;
}

.small-flexigap {
  flex: 1;
}

.sample-text {
  text-align: center;
}